:root {
    --wine: #8B0000;
    --darkGray: #444;
    --maxView: calc(100vw - (100vw - 100%));
}

* {
    max-width: var(--maxView);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: gray;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 100px;
}

menu {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 3%;
    clear: none;
}

.icon {
    width: 30px;
    height: 30px;
}

hr {
    color: var(--darkGray);
    width: 80%;
    margin-bottom: .5%;
    margin-top: .5%;
}

span {
    background-color: darkgray;
    color: black;
    border: darkgray solid;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

footer {
    background-color: var(--wine);
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

@media (hover: none) {
    #closeCartPopup {
        display: block;
    }

    .popup {
        width: 80vw;
        height: 90vh;
        top: 50%;
        left: 50%;
    }

    #cartPopup {
        width: 80vw;
        height: 90vh;
        top: 50%;
        left: 50%;
    }
}

@media (hover: hover) {
    #closeCartPopup {
        display: none;
    }

    #cartPopup {
        width: 20vw;
        height: 50vh;
        top: 40%;
        left: 87.5%;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    width: 80vw;
    height: max-content;
    top: 50%;
    left: 50%;
}

#cartPopup {
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#searchbar {
    width: 80%;
    padding: 1%;
    font-size: xx-large;
    color: var(--darkGray);
    background-color: darkgray;
    border-radius: 50px;
    height: fit-content;
}

#cartContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 18vw;
    height: 48vh;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.cartItem input {
    width: 4vw;
}

.cartItem picture img {
    height: 8vh;
}

main {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 2.5%;
}

main picture {
    height: 60vh;
    padding-right: 2.5%;
}

main picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main section h2,
main section h3,
main section p,
main section section {
    margin: 1%;
    width: 90%;
    height: fit-content;
}

main section section select {
    width: 23%;
    height: 5vh;
    margin: 1%;
}

main section button {
    width: 30%;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: large;
}