:root {
    --wine: #8B0000;
    --darkGray: #444;
    --maxView: calc(100vw - (100vw - 100%));
}

* {
    max-width: var(--maxView);
}

html {
    scroll-behavior: smooth;
}

body,
h1,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: gray;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 100px;
}

menu {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 3%;
    clear: none;
}

.icon {
    width: 30px;
    height: 30px;
}

hr {
    color: var(--darkGray);
    width: 80%;
    margin-bottom: .5%;
    margin-top: .5%;
}

main {
    display: flex;
    flex: 1, 0, 1;
    justify-content: center;
    flex-direction: column;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
    height: 100vh;
    flex-direction: column;
}

.products {
    display: flex;
    justify-content: center;
}

.item {
    width: 30vw;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.item img {
    object-fit: contain;
    aspect-ratio: 1;
}

#product-info1,
#product-info2,
#product-info3 {
    clear: both;
    text-align: center;
}

h3 {
    margin: 0 10% 0 10%;
    text-align: center;
}

#info {
    padding: 1%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.info {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.infoContain {
    display: flex;
    justify-content: space-around;
    padding: 0 5% 5% 5%;
}

.button {
    border: gray solid;
    background-color: gray;
    border-radius: 10px;
    padding: 1%;
}

span {
    background-color: darkgray;
    color: black;
    border: darkgray solid;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

footer {
    background-color: var(--wine);
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

@media (pointer: coarse) {
    #background {
        display: none;
    }

    #additional {
        display: none;
    }

    a:hover {
        font-weight: normal;
    }
}

@media screen and (orientation: landscape) {
    .products {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .infoContain {
        flex-direction: row;
    }
}

@media screen and (orientation: portrait) {
    .products {
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    #background {
        display: none;
    }

    #additional {
        display: none;
    }

    .item {
        width: 90vw;
    }

    article {
        height: auto;
    }
}

@media (hover: none) {
    #closeCartPopup {
        display: block;
    }

    .popup {
        width: 80vw;
        height: 90vh;
        top: 50%;
        left: 50%;
    }

    #cartPopup {
        width: 80vw;
        height: 90vh;
        top: 50%;
        left: 50%;
    }
}

@media (hover: hover) {
    #closeCartPopup {
        display: none;
    }

    #cartPopup {
        width: 20vw;
        height: 50vh;
        top: 40%;
        left: 87.5%;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    width: 80vw;
    height: max-content;
    top: 50%;
    left: 50%;
}

#cartPopup {
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#searchbar {
    width: 80%;
    padding: 1%;
    font-size: xx-large;
    color: var(--darkGray);
    background-color: darkgray;
    border-radius: 50px;
    height: fit-content;
}

#cartContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 18vw;
    height: 48vh;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.cartItem input {
    width: 4vw;
}

.cartItem picture img {
    height: 8vh;
}