:root {
    --wine: #8B0000;
    --darkGray: #444;
    --white: #fff;
    --black: #000;
    --lightGray: #aaa;
    --gray: rgb(128, 128, 128);
    --maxView: calc(100vw - (100vw - 100%));
    --opaqueBlack: rgba(0, 0, 0, 0.7);
    --shadowDark: rgba(6, 24, 44, 0.65);
    --shadow: rgba(6, 24, 44, 0.4);
    --shadowLight: rgba(255, 255, 255, 0.08);
}

@media (-webkit-min-device-pixel-ratio:0) {
    :root {
        --maxView: calc(100dwv - (100dvw - 100%));
    }
}

* {
    max-width: var(--maxView);
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: var(--black);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    -webkit-text-size-adjust: 100%
}

header {
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 100px;
}

menu {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 3%;
    clear: none;
}

.icon {
    width: 30px;
    height: 30px;
}

hr {
    color: var(--darkGray);
    width: 80%;
    margin-bottom: .5%;
    margin-top: .5%;
}

footer {
    background-color: var(--wine);
    color: white;
    padding: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    font-weight: bold;
}

@media (hover: none) {
    #closeCartPopup {
        display: block;
    }

    .popup {
        width: 80vw;
        width: 80dvw;
        height: 90vh;
        height: 90dvh;
        top: 50%;
        left: 50%;
    }

    #cartPopup {
        width: 80vw;
        width: 80dvw;
        height: 90vh;
        height: 90dvh;
        top: 50%;
        left: 50%;
    }
}

@media (hover: hover) {
    #closeCartPopup {
        display: none;
    }

    #cartPopup {
        width: 40vw;
        width: 40dvw;
        height: 50vh;
        heigth: 50dvh;
        top: 40%;
        left: 76%;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opaqueBlack);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow) 0px 25px 50px -12px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
    width: 80dvw;
    height: max-content;
    top: 50%;
    left: 50%;
}

.popup span {
    color: var(--black);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

#cartPopup {
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#searchbar {
    width: 80%;
    padding: 1%;
    font-size: xx-large;
    color: var(--darkGray);
    background-color: var(--lightGray);
    border-radius: 50px;
    height: fit-content;
}

#cartContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: 48vh;
    height: 48dvh;
    overflow-y: auto;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.cartItem span,
.cartItem fieldset span {
    background-color: var(--white);
    border: none;
    border-radius: 0;
}

.cartItem fieldset button,
.cartItem fieldset span {
    background-color: none;
    border: var(--lightGray) solid 1px;
    border-radius: 5px;
    width: 3vw;
    width: 3dvw;
    height: 3vw;
    height: 3dvw;
}

.cartItem fieldset span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItem fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    appearance: none;
    border: none;
}

.cartItem picture {
    width: 16vh;
    width: 16dvh;
    height: 16vh;
    height: 16dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem picture img {
    object-fit: contain;
    height: 15vh;
    height: 15dvh;
}

#buy {
    width: 20vw;
    width: 20dvw;
    height: 10vh;
    height: 10dvh;
    background-color: green;
    border-radius: 10px;
}

#orderPopup {
    height: 80vh;
    height: 80dvh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 40vh;
    height: 40dvh;
}

td,
th {
    width: 10vw;
    width: 10dvw;
    text-align: center;
}

#orderForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button[type="submit"] {
    border: 2px solid var(--black);
    background-color: var(--white);
    border-radius: 10px;
    padding: 1%;
    justify-self: center;
    margin-top: 0.25%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--wine);
    width: max-content;
    margin-left: auto;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    background-color: var(--wine);
}

.theme-switch input {
    display: none;
}

.theme-switch .slider {
    background-color: var(--lightGray);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.theme-switch .slider:before {
    background-color: var(--white);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.theme-switch .slider.round {
    border-radius: 34px;
}

.theme-switch .slider.round:before {
    border-radius: 50%;
}

option {
    background-color: var(--white);
    color: var(--black);
}

#orderForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#orderForm label {
    font-size: large;
}

#orderForm input {
    width: 100%;
    height: 4vh;
    height: 4dvh;
}

#notification {
    display: grid;
    position: fixed;
    transform: translate(-50%, 10000000%);
    margin: 2.5%;
    clear: none;
    padding: 0.5%;
    top: 50%;
    left: 50%;
    height: 15vh;
    height: 15dvh;
    grid-template-columns: 1fr 9fr;
    transition: 200ms;
    background-color: var(--white);
    color: var(--black);
    border: var(--black) solid 2px;
    border-radius: 10px;
    width: 60vw;
    width: 60dvw;
}

#notification section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification section span {
    background-color:transparent;
    border:none;
    margin:0;
    padding:0;
}
