:root {
    --wine: #8B0000;
    --darkGray: #444;
    --maxView: calc(100vw - (100vw - 100%));
    --thumbInner1: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px' ><text x='2.5' y='10' fill='black' font-size='10'></text></svg>");
    --thumbInner2: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px' ><text x='2.5' y='10' fill='black' font-size='10'></text></svg>");
    --thumbOuter: var(--darkGray);
}

* {
    max-width: var(--maxView);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: gray;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 100px;
}

menu {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 3%;
    clear: none;
}

.icon {
    width: 30px;
    height: 30px;
}

hr {
    color: var(--darkGray);
    width: 80%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#filters {
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter select {
    width: 100%;
}

main {
    display: flex;
    flex: 1, 0, 1;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    display: grid;
    grid-template: 3fr 1fr / 2fr 1fr 1fr;
    margin: 1%;
    justify-content: center;
    height: min-content;
}

.info {
    max-height: 7vh;
}

.product picture {
    grid-area: 1 / 1 / 2 / 4;
    height: calc((100vh / 3));
    min-height: 50vh;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    grid-area: 2 / 1 / 3 / 2;
}

.size {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1.7;
    margin: 3px;
}

.toCart {
    grid-area: 2 / 3 / 3 / 4;
    aspect-ratio: 1.7;
    margin: 3px;
    background-color: green;
    border-radius: 3px;
}

footer {
    background-color: var(--wine);
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

@media screen and (orientation: landscape) {
    .product {
        flex-basis: 30%;
    }
}

@media screen and (orientation: portrait) {
    .product {
        flex-basis: auto;
    }
}

@media (hover: none) {
    #closeCartPopup {
        display: block;
    }

    .popup {
        width: 80vw;
        height: 90vh;
        top: 50%;
        left: 50%;
    }

    #cartPopup {
        width: 80vw;
        height: 90vh;
        top: 50%;
        left: 50%;
    }
}

@media (hover: hover) {
    #closeCartPopup {
        display: none;
    }

    #cartPopup {
        width: 40vw;
        height: 50vh;
        top: 40%;
        left: 76%;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
    height: max-content;
    top: 50%;
    left: 50%;
}

#cartPopup {
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#searchbar {
    width: 80%;
    padding: 1%;
    font-size: xx-large;
    color: var(--darkGray);
    background-color: darkgray;
    border-radius: 50px;
    height: fit-content;
}

#cartContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: 48vh;
    overflow-y: auto;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.cartItem span,
.cartItem fieldset span {
    background-color: white;
    border: none;
    border-radius: 0;
}

.cartItem fieldset button,
.cartItem fieldset span {
    background-color: none;
    border: darkgray solid 1px;
    border-radius: 5px;
    width: 3vw;
    height: 3vw;
}

.cartItem fieldset span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItem fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    appearance: none;
    border: none;
}

.cartItem picture {
    width: 16vh;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem picture img {
    height: 15vh;
}

#buy {
    width: 20vw;
    height: 10vh;
    background-color: green;
    border-radius: 10px;
}

#orderPopup {
    height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 40vh;
}

td,
th {
    width: 10vw;
    text-align: center;
}

.range {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--darkGray);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--thumbOuter);
    background-color: white;
    pointer-events: auto;
    -webkit-appearance: none;
}

.min::-webkit-slider-thumb {
    background-image: var(--thumbInner1);
}

.max::-webkit-slider-thumb {
    background-image: var(--thumbInner2);
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--thumbOuter);
    pointer-events: auto;
    -moz-appearance: none;
}

.min::-moz-range-thumb {
    background-color: var(--thumbInner1);
}

.max::-moz-range-thumb {
    background-color: var(--thumbInner2);
}

@media screen and (orientation: portrait) {
    .range {
        width: 75vw;
    }

    #filters {
        flex-direction: column;
        align-items: center;
    }

    .filter {
        width: 75vw;
    }
}