@import url("shared.css");

:root {
    --thumbInner1: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px' ><text x='2.5' y='10' fill='black' font-size='10'></text></svg>");
    --thumbInner2: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px' ><text x='2.5' y='10' fill='black' font-size='10'></text></svg>");
    --thumbOuter: var(--darkGray);
}

hr {
    color: var(--darkGray);
    width: 80%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#filters {
    display: flex;
    justify-content: center;
    border: solid var(--black) 1px;
    border-radius: 10px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.filter select {
    width: 100%;
}

main {
    display: flex;
    flex: 1, 0, 1;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    display: grid;
    grid-template: 3fr 1fr / 2fr 1fr 1fr;
    margin: 1%;
    justify-content: center;
    height: min-content;
    width: min-content;
}

.info {
    max-height: 7vh;
}

.product picture {
    grid-area: 1 / 1 / 2 / 4;
    height: 50vh;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    grid-area: 2 / 1 / 3 / 2;
}

.size {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1.7;
    margin: 3px;
}

.toCart {
    grid-area: 2 / 3 / 3 / 4;
    aspect-ratio: 1.7;
    margin: 3px;
    background-color: green;
    border-radius: 3px;
}

@media screen and (orientation: landscape) {
    .product {
        flex-basis: 20%;
    }
}

@media screen and (orientation: portrait) {
    .product {
        flex-basis: 90%;
        width: auto;
    }
}

.cartItem fieldset button,
.cartItem fieldset span {
    background-color: none;
    border: var(--darkGray) solid 1px;
    border-radius: 5px;
    width: 3vw;
    height: 3vw;
}

.range {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--darkGray);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--thumbOuter);
    background-color: white;
    pointer-events: auto;
    -webkit-appearance: none;
}

.min::-webkit-slider-thumb {
    background-image: var(--thumbInner1);
}

.max::-webkit-slider-thumb {
    background-image: var(--thumbInner2);
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--thumbOuter);
    pointer-events: auto;
    -moz-appearance: none;
}

.min::-moz-range-thumb {
    background-color: var(--thumbInner1);
}

.max::-moz-range-thumb {
    background-color: var(--thumbInner2);
}

@media screen and (orientation: portrait) {
    .range {
        width: 75vw;
    }

    #filters {
        flex-direction: column;
        align-items: center;
    }

    .filter {
        width: 75vw;
    }
}