:root {
    --wine: #8B0000;
    --darkGray: #444;
    --maxView: calc(100vw - (100vw - 100%));
}

* {
    max-width: var(--maxView);
}

body,
h1,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: gray;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 100px;
}

menu {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

hr {
    color: var(--darkGray);
    width: 80%;
    margin-bottom: 2.5%;
    margin-top: 0%;
}

main {
    display: flex;
    flex: 1, 0, 1;
    justify-content: space-around;
}

.item {
    width: 30vw;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.item img {
    object-fit: contain;
    aspect-ratio: 1;
}

#product-info1,
#product-info2,
#product-info3 {
    clear: both;
    text-align: center;
}

footer {
    background-color: var(--wine);
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media screen and (orientation: portrait) {
    main {
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    .item {
        width: 90vw;
    }
}