body {
    background-color: lightgray;
}

#reiter {
    background-color: white;
}

#korb {
    max-width: 20px;
    max-height: 20px;
}

#impressum {
    background-color: rgb(165, 165, 165);

}

.impressum {
    width: 33%;
    border: solid black 1px;
}

.item {
    flex-grow: 1;
    border: solid black 1px;
}

#Auswahl {
    display: flex;
    min-height: 75%;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    border: solid red 3px;
    align-content: center;
}

#menu {
    width: 66%;
}

.selection {
    flex-grow: 0;
    height: 100%;
    width: 653px;
    align-items: center;
    height: 250px;
    max-width: 33%
}
