body {
    background-color: beige;
}

#reiter {
    background-color: burlywood;
    border: solid burlywood 5px;
    border-radius: 5px;
}

#korb {
    max-width: 20px;
    max-height: 20px;
}

#impressum {
    background-color: burlywood;

}

.impressum {
    margin: 5px;
    border: solid beige 5px;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
    width: 33%;
    background-color: beige;
    /*border: solid black 1px;*/
}

.item {
    flex-grow: 1;
    /*border: solid black 1px;*/
}

#Auswahl {
    display: flex;
    min-height: 75%;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    /*border: solid red 3px;*/
    align-content: center;
}

#menu {
    width: 66%;
}

.selection {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    max-width: 33%;
    margin: 5px;
    padding: 5px;
    border: solid burlywood 5px;
    border-radius: 5px;
    background-color: burlywood;
}

.product {
    max-width: 100%;
    max-height: 100%;
}