:root {
    --wine: #8B0000;
    --darkGray: #444;
    --maxView: calc(100vw - (100vw - 100%));
}

* {
    max-width: var(--maxView);
}

body,
h1,
p,
button {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: gray;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 100px;
}

menu {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

#filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.filter select {
    width: 100%;
}

main {
    display: flex;
    flex: 1, 0, 1;
    justify-content: space-around;
}

.product {
    display: grid;
    grid-template: 3fr 1fr / 2fr 1fr 1fr;
    margin: 1%;
    justify-content: center;
    height: min-content;
}

.info {
    max-height: 7vh;
}

.product picture {
    grid-area: 1 / 1 / 2 / 4;
    height: calc((100vh / 3));
    min-height: 25vh;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    grid-area: 2 / 1 / 3 / 2;
}

.size {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1.7;
    margin: 3px;
}

.to-cart {
    grid-area: 2 / 3 / 3 / 4;
    aspect-ratio: 1.7;
    margin: 3px;
    background-color: green;
    border-radius: 3px;
}

footer {
    background-color: var(--wine);
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product {
        flex: 1 0 30%;
    }
}

@media screen and (orientation: portrait) {
    main {
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    .product {
        flex: 1 0 90%;
    }
}