@media screen and (orientation:landscape) {
    .product {
        flex: 1 0 22%;
    }
}

@media screen and (orientation:portrait) {
    .product {
        flex: 1 0 90%;
    }
}

* {
    max-width: calc(100vw - (100vw - 100%));
}

body {
    height: calc(100vh - (100vh - 100%));
    width: calc(100vw - (100vw - 100%));
    margin: 0px;
}

header {
    background-image: none;
    background-color: #555;
    display: grid;
    grid-template: 2fr 6fr 2fr;
    grid-gap: 1%;
}

#logo {
    grid-column: 1 / 2;
}

#title {
    grid-column: 2 / 3;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#buttons {
    grid-column: 3 / 4;
    display: grid;
    grid-template: 'button1 button2 button3';
    margin: 0;
    padding: 0;
}

.icon {
    aspect-ratio: 1;
    height: 5vh;
}

#button1 {
    grid-area: button1;
}

#button2 {
    grid-area: button2;
}

#button3 {
    grid-area: button3;
}

#filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.filter {
    margin: 1%;
    background-color: #555;
    border: dashed 1px black;
}

#gender {
    grid-column: 1 / 2;
}

#color {
    grid-column: 2 / 3;
}

#type {
    grid-column: 3 / 4;
}

main {
    aspect-ratio: 0.563;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: grid;
    grid-template: 3fr 1fr / 2fr 1fr 1fr;
    background-color: #555;
    border: darkslategray dashed 3px;
    margin: 1%;
    justify-content: center;
}

.info {
    max-height: 7vh;
}

.product picture {
    grid-area: 1 / 1 / 2 / 4;
    height: calc((100vh / 3));
    min-height: 25vh;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    grid-area: 2 / 1 / 3 / 2;
}

.size {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1;
}

.to-cart {
    grid-area: 2 / 3 / 3 / 4;
    aspect-ratio: 1;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}